<dom-module id="my-greeting">
  <style>
    :host {
      display: block;
      margin: 1em;
      padding: 1em;
      border: 1px solid #000;
      border-radius: 5px;
    }

    button {
      display: block;
      margin: 1em 0;
    }
  </style>
  <template>
    <h1><span></span></h1>
    <span>Actualiza el texto para cambiar el título.</span>
    <!-- Listens for "input" event and sets greeting to <input>.value -->
    <input value="{{greeting::input}}"/>

    <button on-tap="_goToAnother">Navega a otra página pasando parámetros</button>

    <button on-tap="_goToRouterExample">Pagina de explicacion del Router</button>

    <button on-tap="_responseSinStringify">simular respuesta sin stringify</button>

    <button on-tap="responseConStringify">simular respuesta con stringify</button>

    <button on-tap="responseConFunction">simular respuesta con Function</button>

    <button on-tap="responseParaCamelCase">simular respuesta con porpiedad en camel case</button>

  </template>

  <script>
(function() {
  Polymer({
    is: 'my-greeting',

    properties: {
      greeting: {
        type: String,
        value: 'Bienvenido!',
        notify: true
      },
      persona: {
        type: Object,
        notify: true
      },
      transferConfirmData: {
        type: Object,
        notify: true
      },
      transferConfirmData2: {
        type: Object,
        notify: true
      },
      transferConfirmData3: {
        type: Object,
        notify: true
      },      
      transferConfirmData4: {
        type: Object,
        notify: true
      },
      response:{
        type: Object,
        value: function(){
          return {'saludo':'hola'};
        }
      }
    },

    _goToRouterExample: function(){
       this.fire('router-event', { 'stateParam': 1234 ,'queryParam': "un param" , "queryParamTwo": 5678});
    },

    _goToAnother: function() {
      this.set('persona', {"name": "koke", "surname": "Contreras"});
      this.fire('foobar-event', { 'itemId': 1234 });
    },
    _responseSinStringify:function(){
      
      this.set('transferConfirmData', this.response);
    
    },
    responseConStringify:function(){
      this.set('transferConfirmData2', JSON.stringify(this.response));
    },
    responseConFunction:function(){
      this.set('transferConfirmData3', this.response);
    },
    responseParaCamelCase:function(){
      console.log(this.response);
      this.set('transferConfirmData4', this.response);
        console.log(this.transferConfirmData4);
    }

  });
})();
</script>

</dom-module>
