<dom-module id="another-page">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <h1>Bienvenido a otra página  con este parametro [[itemId]]</h1>

    <p>Te recuerdo que en la anterior página escribiste lo siguiente: <strong>[[greeting]]</strong></p>

    <p>Te saludamos [[persona.name]] [[persona.surname]]</p>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <p>Estoy usando también un data manager: [[users]]</p>

    <button on-tap="_goToHome">Volver a la home</button>
    <p>accedo a la propiedad saludo sin stringify: [[transferConfirmData.saludo]]</p>
    <p>accedo a la propiedad saludo con stringify: [[transferConfirmData2.saludo]]</p>
    <p>accedo a la propiedad saludo desde funcion: [[transferConfirmData3.saludo]]</p>
    <p>accedo a la propiedad saludo con la propiedad como camelcase: [[transferConfirmData4.saludo]]</p>
  </template>

<script>
(function() {
  Polymer({
    is: 'another-page',
    properties: {
      greeting: {
        type: String,
        value: ''
      },
      itemId: {
        type: Number
      },
      persona: {
        type: Object
      },
      transferConfirmData: {
        type: Object,
        observer:'test'
      },
      transferConfirmData2: {
        type: Object,
        observer:'test2'
      },
      transferConfirmData3: {
        type: Object
      },
      transferConfirmData4: {
        type: Object,
        observer:'test4'
      },
      users: {
        type: Array,
        value: function() {
          return [];
        }
      }
    },
    test:function(){
      console.log("valor:",JSON.stringify(this.transferConfirmData));
    },
    test2:function(){
      console.log("valor:",JSON.stringify(this.transferConfirmData2));
    },
    _goToHome: function() {
      this.fire('home-event');
    },
    checkFunction:function(valor){
      console.log("valor:",valor);
      this.set('transferConfirmData3',valor);
    },
    test4:function(){
      console.log("valor:",JSON.stringify(this.transferConfirmData4));
    }

  });
})();
</script>

</dom-module>
