<dom-module id="another-greeting">
  <style>
    :host {
      display: block;
      margin: 1em;
      padding: 1em;
      border: 1px solid #000;
      border-radius: 5px;
    }
  </style>
  <template>
    <p>Esto es un ejemplo de otro componente.</p>
    <p>El texto que escribas en la caja de arriba aparece escrito a continuación: <strong>[[anotherGreeting]]</strong></p>
    <p>accedo a la propiedad saludo sin stringify: [[transferConfirmData.saludo]]</p>
    <p>accedo a la propiedad saludo con stringify: [[transferConfirmData2.saludo]]</p>

    <p>accedo a la propiedad saludo desde funcion: [[transferConfirmData3.saludo]]</p>

    <p>accedo a la propiedad saludo con la propiedad como camelcase: [[transferConfirmData4.saludo]]</p>
  </template>

  <script>
(function() {
  Polymer({
    is: 'another-greeting',
    properties: {
      anotherGreeting: {
        type: String
      },
      transferConfirmData: {
        type: Object,
        observer:'test'
      },
      transferConfirmData2: {
        type: Object,
        observer:'test2'
      },
      transferConfirmData3: {
        type: Object
      },
      transferConfirmData4: {
        type: Object,
        observer:'test4'
      }
    },
    test:function(){
      console.log("valor:",JSON.stringify(this.transferConfirmData));
    },
    test2:function(){
      console.log("valor:",JSON.stringify(this.transferConfirmData2));
    },
    checkFunction:function(valor){
      console.log("valor:",valor);
      this.set('transferConfirmData3',valor);
    },
    test4:function(){
      console.log("valor:",JSON.stringify(this.transferConfirmData4));
    }
  });
})();
</script>

</dom-module>
